.icon {
  width: 3em;
  height: 3em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.box {
  display: block;
  font-size: 18px;
  background-image: url("../images/smallImage.svg");
}
.box2 {
  font-size: 18px;
  background-image: url("../images/profile.jpg");
}
